amqp==5.2.0
asgiref==3.8.1
billiard~=4.2.0
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
Django~=5.1.1
django-celery-beat==2.7.0
django-cors-headers==4.5.0
django-phonenumber-field==8.0.0
django-phonenumbers==1.0.1
django-timezone-field==7.0
kombu~=5.4.1
phonenumbers~=8.13.45
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.16.0
sqlparse==0.5.1
tzdata~=2024.1
vine==5.1.0
wcwidth==0.2.13

pip~=23.2.1
pillow~=10.4.0
redis~=5.0.8
Pygments~=2.18.0
requests~=2.32.3
ipython~=8.27.0
bleach~=6.1.0
Markdown~=3.7